<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>DermaLite</string>

    <key>NSCameraUsageDescription</key>
    <string>This app requires access to the camera to scan and analyze images.</string>

    <key>NSPhotoLibraryUsageDescription</key>
    <string>This app requires access to your photo library to select images for analysis.</string>
</dict>
</plist>
